<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"> 
<head th:replace="layout/plantilla :: head"> 
    <title>Barber Shop 506 - Página Principal</title>
</head> 
<body> 
    <header th:replace="layout/plantilla :: header"></header>
    <br></br>
    <h1>La mejor barberia de Costa Rica</h1>
    <br></br>
    <p>Tu mejor opcion en cortes</p>
    <p>No te arriesgues a un mal corte</p>
    <p>Siempre para complacerte</p>
    <br></br>

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>