<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Productos - Barber Shop 506</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section class="container mt-5">
            <h2 style="color: #A020F0;">Nuestros Productos</h2>
            <div class="row mt-4">
                <!-- Iterar sobre los productos -->
                <div class="col-sm-4" th:each="producto : ${productos}">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/{imagen}(imagen=${producto.imagen})}" class="card-img-top" alt="Imagen del producto">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #4b0082;" th:text="${producto.nombre}"></h5>
                            <p class="card-text" th:text="${producto.descripcion}"></p>
                            <p class="card-text" style="font-weight: bold;" th:text="${producto.precio} + ' colones'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>